##### Function to generate N odd Armstrong numbers

In [1]:
def armstrong(n):
    ns=str(n)
    nl=len(ns)
    summ=0
    for i in ns:
        summ=summ+(int(i)**nl)
    if(summ==n):
        return True
    return False

In [2]:
armstrong(153)

True

In [9]:
def odd(n):
    if(n%2!=0):
        return True
    return False
odd(47)

True

In [8]:
odd(134)

False

In [10]:
def narmstrong(n):
    i=0
    while i<n+1:
        for j in range(1,10**10):
            if(armstrong(j)and odd(j)):
                print(j)
                i=i+1

In [ ]:
narmstrong(10)

### String Slicing Methods

In [26]:
s="Hello Aditya college"

In [27]:
s

'Hello Aditya college'

In [22]:
s1=s.split('/')

In [25]:
s1

['Hello', 'Aditya', 'college']

In [24]:
"#".join(s1)

'Hello#Aditya#college'

In [36]:
s
s.islower()

False

In [32]:
s.count("l")

4

In [37]:
u="ADiTYa"
u.lower()
u.upper()

'aditya'

In [38]:
u.swapcase()

'adItyA'

In [39]:
st = "Hello All"
len(st)

9

In [40]:
t = "computer science"
t.title()

'Computer Science'

In [41]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [57]:
s = "   Aditya  "
len(s)
s.isspace()
s.rstrip()
s.lstrip()

'Aditya  '

In [51]:
s = "a d i t ya"
s1 = ""
for i in s:
    if not i.isspace():
        s1+=i
print(s1,len(s1))

aditya 6

In [67]:
s = "python workshop"
s.startswith("w")
s.endswith("o")
s.replace("workshop","programming")

'python workshop'

In [70]:
s = "123"
s.isnumeric()

True

In [72]:
s = "aditya456"
s.isalpha()
s.isalnum()

True

In [73]:
s = "aditya12college45python67"
sum1 = 0
for i in s:
    if i.isdigit():
        sum1+=int(i)
print(sum1)

25

In [78]:
s = "aditya"
s.index('a',1)

5

### Take a string as input from the user and print the count of digits,alphabets,spaces and special charaters in that string.

#### Write a program to insert a new string in the middle of given string

#### Write a Python program to get a string from a given string where all occurences of its first character replaced with $